@bg-body: #F4F5F7;
@bg-dark: #1E1E29;
@bg-bright: #272634;
@bg-very-bright: lighten(@bg-bright, 10%);
@link-bright: #f0f0f0;
@link-dark: #87878C;
@borders1: #dddddd;
@borders2: #666666;
@font-color: #222222;
@orange: #FE881D;
@dark: #303030;
@accentBg: #f5f5f5;

@brand-primary: @orange;

//Border radius komplett ausschaalten
@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

@padding-base-vertical: 10px;
@padding-base-horizontal: 15px;
@padding-large-vertical: 20px;
@padding-large-horizontal: 45px;
@padding-small-vertical: 10px;
@padding-small-horizontal: 18px;
@padding-xs-vertical: 5px;
@padding-xs-horizontal: 10px;

@font-size-base: 14px;
@input-border: @borders2;
@input-border-focus: @orange;
@font-family-base: 'sans-serif';

@link-color: @orange;
@link-hover-color: orange;
@link-hover-decoration: none;

@component-active-bg: @orange;
@component-active-color: white;

@thumbnail-bg: @orange;

//panel
@panel-default-border: @borders1;

@navbar-default-link-color: @dark;
@navbar-default-link-active-color: @orange;
@navbar-default-link-hover-color: @orange;

@bg-body: #F4F5F7;
@bg-dark: #1E1E29;
@bg-bright: #272634;
@link-bright: #f0f0f0;
@link-dark: #87878C;

.btn {
    padding: 5px 15px;
}

.form-control {
	height: 40px;
}
